.outer {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.black-screen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}