* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.outer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleWord, .titleChars {
    overflow: hidden;
}

.outer .title {
    /* display: inline-block; */
    font-size: 14rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    text-transform: uppercase;
}