* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.outer {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    background-color: gray;
    gap: 3rem2;
}

.outer .imageGallery {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imageGallery img {
    height: 10rem;
    object-fit: cover;
}

.imageShow {
    height: 70%;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageShow img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}