* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.outer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
}

.boxes {
    /* height: 100%; */
    width: 100%;
}

.box {
    height: 100px;
    width: 100px;
    background-color: red;
}

.box1 {
    height: 100px;
    width: 100px;
    background-color: rgb(77, 255, 0);
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: rgb(6, 68, 255);
}

.box3 {
    height: 100px;
    width: 100px;
    background-color: rgb(106, 0, 0);
}
.box4 {
    height: 100px;
    width: 100px;
    background-color: rgb(225, 0, 255);
}

button {
    font-size: 2rem;
    color: white;
    background-color: cadetblue;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}